@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Season Sale</h1>
    <p class="lead">Buy high quality products for dear ones. Hurry up, this offer lasts soon!</p>
    <p>@Html.ActionLink("View our offer", "Index", "Products")</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Blue Goo Pain Relieving Gel</h2>
        <p>
            It's a very good idea to wash your hands after applying this product. It doesn't sting or burn your hands, but you wouldn't want to get it in your eyes or on your lips or other sensitive areas
        </p>
    </div>
    <div class="col-md-4">
        <h2>Gishy Goo! One Patient Kit</h2>
        <p>Gishy Goo saved the inside of my mouth. I have a couple of brackets (6 month braces) that the wires stick out at the end and hook the inside of my mouth like a fishhook and then proceed to rip a 1/2" through my cheek. </p>
    </div>
    <div class="col-md-4">
        <h2>PS4</h2>
        <p>Five stars for the ps4, Zero stars for the packaging the Ps4 came in. This is my second PlayStation, my first one was the original Ps1 still have it. </p>
    </div>
</div>