
@{
    ViewBag.Title = "BuyFromCart";
}

<div style="text-align:center">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h2> Succesfully bought from our shop. Please enjoy your products. </h2>
    @Html.ActionLink("Back to products", "Index")
</div>

   